/*-- scss:defaults --*/

//fonts
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Prata&display=swap');

//colors
$fire-coral: #f12948;
$dark-lilac: #34275c;
$limestone: #fcf8f2;

//base document colors
$navbar-bg: $fire-coral;
$body-bg: $limestone;

/*-- scss rules --*/

h1, h3 {
  letter-spacing: 5px;
  font-weight: 700;
  color: $dark-lilac;
}

.title {
  color: $fire-coral;
}

.subtitle-format {
  font-size: 12px;
  font-style: italic;
  color: $dark-lilac;
}


