/*-- scss:defaults --*/

//fonts
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Prata&display=swap');

//colors
$deepsage: #6c9466;
$peat: #212622;
$coolstone: #fafcf5;
$off-white: #fafcfa;

//base document colors
$navbar-bg: $peat;
$body-bg: $coolstone;

/*-- scss rules --*/

h1, h3 {
  letter-spacing: 5px;
  font-weight: 700;
  color: $deepsage;
}

.title {
  color: $off-white;
}

.subtitle-format {
  font-size: 12px;
  font-style: italic;
  color: $peat;
}


